<launch>
    <arg name="map_file" default="$(env HOME)/my_dorm_map.yaml"/>
    
    <param name="robot_description" textfile="$(find n10_slam)/urdf/robot.urdf"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    
    <!-- 加载已有地图作为参考（显示为old_map） -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)">
        <remap from="map" to="old_map"/>
    </node>
    
    <!-- 激光雷达 -->
    <node pkg="lslidar_driver" type="lslidar_driver_node" name="lslidar_driver_node" output="screen">
        <param name="lidar_name" value="N10"/>
        <param name="serial_port" value="/dev/ttyN10"/>
        <param name="interface_selection" value="serial"/>
        <param name="frame_id" value="laser_frame"/>
        <param name="min_range" value="0.15"/>
        <param name="max_range" value="3.0"/>
        <param name="pubScan" value="true"/>
    </node>
    
    <!-- STM32通信 -->
    <node pkg="n10_slam" type="jetbot_serial_control.py" name="jetbot_serial" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
    </node>
    
    <!-- 里程计 -->
    <node pkg="n10_slam" type="odometry_node.py" name="odometry_node" output="screen"/>
    
    <!-- TF -->
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser" 
          args="0 0 0.1 3.14159 0 0 base_link laser_frame 50"/>
    
    <!-- Gmapping建图+定位（代替AMCL） -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <param name="base_frame" value="base_link"/>
        <param name="odom_frame" value="odom"/>
        <param name="map_frame" value="map"/>
        <param name="delta" value="0.02"/>
        <param name="map_update_interval" value="0.5"/>
        <param name="maxUrange" value="2.5"/>
        <param name="maxRange" value="3.0"/>
        <param name="minimumScore" value="50"/>
        <param name="linearUpdate" value="0.05"/>
        <param name="angularUpdate" value="0.05"/>
        <param name="particles" value="30"/>
        <param name="xmin" value="-15.0"/>
        <param name="ymin" value="-15.0"/>
        <param name="xmax" value="15.0"/>
        <param name="ymax" value="15.0"/>
    </node>
    
    <!-- move_base导航 -->
    <node pkg="move_base" type="move_base" name="move_base" output="screen">
        <remap from="cmd_vel" to="/cmd_vel"/>
        <rosparam file="$(find n10_slam)/config/move_base.yaml" command="load"/>
        <rosparam file="$(find n10_slam)/config/costmap_common.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find n10_slam)/config/costmap_common.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find n10_slam)/config/global_costmap.yaml" command="load"/>
        <rosparam file="$(find n10_slam)/config/local_costmap.yaml" command="load"/>
        <rosparam file="$(find n10_slam)/config/dwa_local_planner.yaml" command="load"/>
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    </node>
    
    <!-- RViz -->
    <node pkg="rviz" type="rviz" name="rviz" 
          args="-d $(find n10_slam)/rviz/navigation.rviz" output="screen"/>
</launch>
