<?xml version="1.0"?>
<launch>

  <!-- ① 摄像头节点 -->
  <node name="camera_node" pkg="camera_pkg" type="camera_node.py"
        output="screen" respawn="true" respawn_delay="3">
    <param name="resolution_width"  value="640"/>
    <param name="resolution_height" value="480"/>
    <param name="frame_rate"        value="15"/>
  </node>

  <!-- ② web_video_server：将 /image 暴露为 MJPEG HTTP 流 -->
  <node name="web_video_server" pkg="web_video_server" type="web_video_server"
        output="screen" respawn="true" respawn_delay="3">
    <param name="port"    value="8081"/>
    <param name="address" value="0.0.0.0"/>
  </node>

  <!-- ③ 人脸识别节点（由 /face_cmd 控制启停） -->
  <node name="face_node" pkg="camera_pkg" type="face_node.py"
        output="screen" respawn="true" respawn_delay="5"/>

  <!-- ④ 人脸训练节点（由 /face_train_cmd 控制） -->
  <node name="face_trainer" pkg="camera_pkg" type="face_trainer.py"
        output="screen" respawn="true" respawn_delay="5"/>

</launch>
